<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">
        Nome do Blog/Name Blog
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/admin/categories">Categorias/Categories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/articles">Artigos/Articles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/users">Usuários/Users</a>
        </li>

    </ul>

    <ul class="navbar-nav ml-auto">
        <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>
</nav>